<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smallcat.theworld">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <meta-data
        android:name="android.max_aspect"
        android:value="2.1" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:networkSecurityConfig">

        <activity android:name=".ui.activity.RecommendActivity"/>
        <activity android:name=".ui.activity.WebActivity" />
        <activity android:name=".ui.activity.RecordEditActivity" />
        <activity android:name=".ui.activity.EquipAddActivity" />
        <activity android:name="com.pgyersdk.feedback.FeedbackActivity" />

        <provider
            android:name="com.pgyersdk.PgyerProvider"
            android:authorities="com.smallcat.theworld.com.pgyer.provider"
            android:exported="false" />

        <meta-data
            android:name="PGYER_APPID"
            android:value="91217be11b504026be810322258d504c" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.EquipDetailActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.CareerIntroduceActivity" />
        <activity android:name=".ui.activity.BossDetailActivity" />
        <activity android:name=".ui.activity.ImageShowActivity" />
        <activity android:name=".ui.activity.CareerDetailActivity" />
        <activity android:name=".ui.activity.MyWorldActivity" />
        <activity android:name=".ui.activity.RecordDetailActivity" />
        <activity android:name=".ui.activity.RecordAddActivity" />
    </application>

</manifest>